*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x:hidden;
}
header{
    display: flex;
    flex-direction: column;
    width: 40%;
    height:120vh;
    background:white;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
}
#projetos{
    display: flex;
    flex-direction: row;
}
.fundo{
    width: 60%;
    background-color: #10121a;
}
.fundo>h1{
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 80px;
    width: 300px;
    background-color: transparent;
    border-bottom: 3px solid white;
    color: white;
    flex-wrap: wrap;
}
.menu{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button_action{
    height: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.button_action:hover{
    border-bottom: 3px solid black;
    cursor:pointer;
}
body{
    background-image: url("https://i.postimg.cc/hGbYHdc8/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
article{
    display: flex;
    flex-direction: column;
    width:40%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.sobre{
    background-color: black;
    padding: 10px;
}
.habilidades{
    width: 100%;
    background-color: white;
    padding: 10px;
    color: black;
}
.my_abilitys{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding:15px;
    height: 220px;
}
.imagens_habilidades{
    width:105px;
    height: 130px;
    overflow-y: hidden;
}
.imagens_habilidades>img{
    width:95%;
    height: 85%;
    cursor: pointer;
}
.imagens_habilidades:hover{
    background-color: white;
    opacity:0.6;
    transition: 1s;
    transform: rotate(15deg);
    width: 105px;
    height: 130px;
    
}
h1{
    margin-bottom: 10px;
}
h2{
    margin-top: 25px;
    margin-bottom: 10px;
}
.fundo_imagem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    color:white;
    border-radius: 100px;
}
.imagem_project{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:black;
    border-radius: 100px;
    margin:5px;
    color:white;
}
@media screen and (max-width:720px){
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        overflow-x:hidden;
    }
    
    
    header{
        display: flex;
        flex-direction: column;
        min-width: 50%;
        height:100vh;
        background:white;
        opacity: 0.8;
        align-items: center;
        align-items: flex-start;
        justify-content: center;

    }

    header>img{
        min-width: 100%;
        height: 200vh;
        height: 20vh;
    }

    .menu{
        min-width: 100%;
        height:100vh;
        height:50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .button_action{
        max-height: 20%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight:bold;
        cursor: pointer;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
    
    .button_action:hover{
        border-bottom: 3px solid black;
        cursor:pointer;
    }
    
    body{
        background-image: url("https://i.postimg.cc/hGbYHdc8/fundo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    article{
        display: flex;
        flex-direction: column;
        min-width:50%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
    }
    
    .sobre{
        min-width:100%;
        background-color: black;
        padding: 10px;
        font-size:90%;
        text-align:start;
    }
    
    .habilidades{
        min-width: 100%;
        background-color: white;
        padding: 10px;
        color: black;
    }
    
    .my_abilitys{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        padding:2%;
        min-height: 100vh;
        min-width: 100px;
    
    }
    
    .imagens_habilidades{
        min-width: 200px;
        min-height: 200px;
        overflow-y: hidden;
    }
    
    .imagens_habilidades>img{
        min-width: 200px;
        min-height:200px;
        cursor: pointer;
        margin: 5%;
    }
    
    .imagens_habilidades:hover{
        background-color: white;
        opacity:0.6;
        transition: 1s;
        transform: rotate(15deg);
        max-width: 200px;
        max-height: 200px;
        margin: 5%;
        
    }
    
    
    
    h1{
        margin-bottom: 10px;
    }
    
    h2{
        margin-top: 25px;
        margin-bottom: 10px;
    }
    
    
    .fundo_imagem{
        display: flex;
        flex-direction:row;
        width:100%;
        height:inherit;
        justify-content:center;
        align-items:center;
        color:white;
    }
    
    
    .imagem_project{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        max-height: 50%;
        background-color:black;
        border-radius: 50px;
        color:white;
        text-align: center;
    }
}